<h1><img src="https://www.net-aware.org.uk/siteassets/images-and-icons/application-icons/app-icons-tumblr.png?w=585&scale=down" alt="Sad Face" height="50" width="50">
About Us
</h1> 
<br>
<h2>Creator</h2>
<br>
<p>
    I am the creator of Rumblr. After using Facebook and Twitter, I have come to the realisation of
    that they are hoarders of userdata. 
</p>
<br>
<h2>Background</h2>
<p>
    <ul>
        <li>Studied at Bonnyrigg Heights Primary School (2008-2014)</li>
        <li>Studied at Cecil Hills High School (2015-2020)</li>
        <li>Studies at University of Sydney - Commerce and Advanced Computing (2021-Present)</li>
        <li>Bronze 3 Season 3 Act 4 Valorant Player</li>
        <li>Silver 2 Season 2020 League of Legends Player</li>
    </ul>
</p>

