<h1>
About Us
</h1> 
<br>
<h2>Creator</h2>
<br>
<p>
    I am the creator of this website which is to be eventually a social media platform much like Facebook
    or Twitter. This website was created for my INFO1111 assignment, using Ruby on Rails, to illustrate and 
    display my proficiency at in using this tool. Ruby on Rails is a back-end web development framework, providing 
    all the tools needed to create a web application easily. Despite the age of Rails, Rails is still continuously 
    updated regularly.
</p>
<br>
<h2>Background</h2>
<p>
    <ul>
        <li>Studied at Bonnyrigg Heights Primary School (2008-2014)</li>
        <li>Studied at Cecil Hills High School (2015-2020)</li>
        <li>Studies at University of Sydney - Commerce and Advanced Computing (2021-Present)</li>
        <li>Bronze 3 Season 3 Act 4 Valorant Player</li>
        <li>Silver 2 Season 2020 League of Legends Player</li>
    </ul>
</p>

